In [ ]:
Q1. CREATE A PYTHON PROGRAM TO SORT THE GIVEN LIST OF TUPLES BASED ON INTEGER VALUE USING A
LAMBDA FUNCTION.

[('sachin tendulkar',34357),('ricky ponting',27483),('jack kallis',25534),('virat kohli',24936)]

In [1]:
l = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
sorted_l = sorted(l, key=lambda x: x[1])
print(sorted_l)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [ ]:
Q2. WRITE A PYTHON PROGRAM TO FIND THE SQUARES OF ALL THE NUMBERS IN THE GIVEN LIST OF INTEGERS
USING LAMBDA AND MAP FUNCTION.

[1,2,3,4,5,6,7,8,9,10]

In [4]:
l=[1,2,3,4,5,6,7,8,9,10]
list(map(lambda x:x**2,l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
Q3. WRITE A PYTHON PROGRAM TO CONVERT THE GIVEN LIST OF INTEGERS INTO A TUPLE OF STRINGS.
USE MAP AND LAMBDA FUNCTIONS.

GIVEN STRING:[1,2,3,4,5,6,7,8,9,10]
EXPECTED OUTPUT:['1','2','3','4','5','6','7','8','9','10']

In [5]:
L=[1,2,3,4,5,6,7,8,9,10]
tuple(map(lambda x:str(x),l))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [ ]:
Q4. WRITE A PYTHON PROGRAM USING REDUCE FUNCTION TO COMPUTE THE PRODUCT OF A LIST CONTAINING NUMBERS
FROM 1 TO 25.

In [6]:
from functools import reduce

In [9]:
l=[i for i in range(1,26)]

In [10]:
reduce(lambda x,y:x*y,l)

15511210043330985984000000

In [ ]:
Q5.WRITE A PYTHON PROGRAM TO FILTER THE NUMBERS IN A GIVEN LIST ARE DIVISIBLE BY 2 AND 3 USING THE 
FILTER FUNCTION.

[2,3,6,9,27,60,90,120,55,46]

In [11]:
l=[2,3,6,9,27,60,90,120,55,46]
list(filter(lambda x:x%2==0 and x%3==0,l))

[6, 60, 90, 120]

In [ ]:
Q6. WRITE A PYTHON PROGRAM TO FIND PALINDROMES IN THE GIVEN LIST OF STRINGS USING LAMBDA AND 
FILTER FUNCTIONS.

['python','php','aba','radar','level']

In [17]:
l=['python','php','aba','radar','level']
list(filter(lambda s:(s ==''.join(reversed(s))),l))

['php', 'aba', 'radar', 'level']