In [ ]:
Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd
data=[4,8,15,16,23,42]
df=pd.Series(data)
print(df)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [ ]:
Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [2]:
import pandas as pd
list=[1,2,3,4,5,6,7,8,9,10]
df=pd.Series(list)
print(df)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [ ]:
Q3. Create a Pandas DataFrame that contains the following data:
Name    Age   gender
alice   25    female
bob     30    male
claire   27    female
Then, print the DataFrame.

In [3]:
import pandas as pd

data = {'Name': ['alice', 'bob', 'claire'],

        'Age': [25, 30, 27],

        'gender': ['female', 'male', 'female']}

df = pd.DataFrame(data)

print(df)

     Name  Age  gender
0   alice   25  female
1     bob   30    male
2  claire   27  female

In [ ]:
Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [4]:
##A DataFrame is a two-dimensional data structure with labeled rows and columns, whereas a Series is a one-dimensional data structure with labeled values.
##A DataFrame can have multiple columns of different data types, whereas a Series can have only one column of a single data type.
import pandas as pd

# create a dictionary of Series
data = {'name': pd.Series(['Alice', 'Bob', 'Charlie']),
        'age': pd.Series([25, 30, 35]),
        'gender': pd.Series(['F', 'M', 'M'])}

# create a DataFrame from the dictionary
df = pd.DataFrame(data)

# print the DataFrame
print(df)

      name  age gender
0    Alice   25      F
1      Bob   30      M
2  Charlie   35      M

In [ ]:
Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [ ]:
here are many common functions and methods available in Pandas that you can use to manipulate data in a DataFrame. Here are some of the most commonly used ones:

1.head() and tail(): these methods allow you to see the first or last n rows of a DataFrame, respectively. They can be useful for quickly checking the contents of a DataFrame.

2.describe(): this method generates descriptive statistics for each column in a DataFrame, such as count, mean, standard deviation, and quartiles. It can be useful for getting an overview of the data.

3.dropna(): this method removes any rows or columns that contain missing values (NaNs) from a DataFrame. It can be useful for cleaning up messy data.

4.groupby(): this method groups the rows of a DataFrame based on the values in one or more columns, and allows you to perform aggregate calculations on each group. It can be useful for analyzing data by different categories.

5.sort_values(): this method sorts the rows of a DataFrame based on the values in one or more columns. It can be useful for finding the highest or lowest values, or for sorting by alphabetical order.

6.apply(): this method applies a function to each element or row of a DataFrame. It can be useful for performing custom calculations or transformations on the data.
here is an example:
import pandas as pd

# create a DataFrame
data = {'name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily'],
        'age': [25, 30, 35, 40, 45],
        'gender': ['F', 'M', 'M', 'M', 'F'],
        'salary': [50000, 60000, 70000, 80000, 90000]}
df = pd.DataFrame(data)

# group the DataFrame by gender and calculate the mean salary for each group
grouped = df.groupby('gender')['salary'].mean()

# print the resulting Series
print(grouped)

In [ ]:
Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [ ]:
In Pandas, Series and DataFrame are mutable in nature, while Panel is not.

A mutable object is an object whose value can be changed after it is created. In Pandas, you can modify the contents of a
Series or DataFrame by assigning new values to its elements or columns

In [6]:
import pandas as pd

# create a dictionary of Series
data = {'name': pd.Series(['Alice', 'Bob', 'Charlie']),
        'age': pd.Series([25, 30, 35]),
        'gender': pd.Series(['F', 'M', 'M'])}

# create a DataFrame from the dictionary
df = pd.DataFrame(data)

# print the DataFrame
print(df)

      name  age gender
0    Alice   25      F
1      Bob   30      M
2  Charlie   35      M